<!DOCTYPE html>
<html>
  <head>
    <title>TemplateRailsVuejs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vue_application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'vue_application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  </head>

  <body>
    <div data-behavior="vue" v-cloak>
      <v-app>
        <%= yield %>
      </v-app>
    </div>
  </body>
</html>
